.right {
    margin-left: auto;
}

.influence {
    padding: 0.2em 0.4em;
    font-size: 0.7em;
    border-radius: 0.25em;
    border: 2px solid;
    color: white;
    font-weight: bold;
    border-color: #fff4;
}

.unknown {
    background-color: grey;
}

.duke {
    background-color: var(--duke-color);
}

.captain {
    background-color: var(--captain-color);
}

.assassin {
    background-color: var(--assassin-color);
}

.ambassador {
    background-color: var(--ambassador-color);
}

.contessa {
    background-color: var(--contessa-color);
}

.connection {
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
}

.coins {
    width: 1em;
    text-align: right;
}

.turn {
    font-size: 0.75em;
    font-style: italic;
    font-weight: bold;
    color: #808080;
}