.verticalContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.players {
  padding: 1em 0;
  background-color: #e8cfa9;
}

.log {
  border-bottom: 1px solid #584528;
  border-top: 1px solid #584528;
  background-color: #d9be94;
  flex-grow: 1;
  overflow-y: auto;
}

.controls {
  padding: 0.5em 0;
}
