.response {
  margin-top: 0.25em;
}

.spinner {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.container {
  margin: 0;
  padding: 1em 0 1em 1em;
  position: relative;
}

.container:before {
  position: absolute;
  left: 0.25em;
  content: "";
  border-radius: 0.5em;
  top: 1.3em;
  width: 0.25em;
  height: 0.25em;
  border: 1px solid #98754d;
  background-color: #98754d;
}

.container:not(:last-child):after {
  content: "";
  border-left: 1px dashed #98754d;
  height: 100%;
  position: absolute;
  left: 0.4em;
  top: 1.3em;
}

.message {
  padding: 0;
  margin: 0;
}
